# Python
__pycache__/
*.pyc
backend/venv/
backend/.env

# VS Code
.vscode/

# Node (if later used)
node_modules/

# OS
.DS_Store
Thumbs.db

# data files
backend/pipeline/raw_data/
backend/pipeline/processed_data/

# python cache
__pycache__/
*.pyc